header {
    width: 100%;
    background: #000;
    .inner {
        width: 1180px;
        height: 100px;
        margin: 0 auto;
        position: relative;
        h1 {
            position: absolute;
            left: 0;
            bottom: 20px;
            a {
                font: bold 24px/1 'Zen Antique Soft';
                color: #fff;
            }
        }
        #util {
            position: absolute;
            top: 2vh;
            right: 0;
            li {
                float: left;
                padding-right: 20px;
                a {
                    display: inline-block;
                    padding: 10px 10px;
                    font: 10px/1  'Zen Antique Soft';
                    color: #fff;
                    transition: 0.5s;
                }
            }
        }

        nav {
          float: right;
            padding: 50px 0;
            ul {
              text-align: center;
              li {
                display: inline-block;
                width: 150px;
                a {
                  display: block;
                  padding: 15px;
                  color: #fff;
                  margin: 0 10px;
                  transition: all 0.8s;
                  font: 14px/1 'Zen Antique Soft';
                  &:after, &:before {
                    transition: all 0.5s;
                  }
                  &:hover {
                    color: #000;
                  }
                }
              }
            }
          
            &.shift ul li a {
              position: relative;
              z-index: 1;
          
              &:hover {
                color: #fff;
              }
          
              &:after {
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                margin: auto;
                width: 100%;
                height: 1px;
                content: ".";
                color: transparent;
                background: #4f5b62;
                visibility: none;
                opacity: 0;
                z-index: -1;
              }
          
              &:hover:after {
                opacity: 1;
                visibility: visible;
                height: 100%;
              }
            }
          }


        .fa-bars {
            font-size: 20px;
            color: white;
            position: absolute;
            bottom: 20px;
            right: 3vw;
            display: none;
        }
    }

    &.main {
        width: 100%;
        height: 100px;
        background: transparent;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
        .inner {
            width: 100%;
            height: 100%;
            position: relative;
            h1 {
                left: 10vw;
            }
            #gnb li a{
                right: 10vw;
            }
        }
    }
}

@media screen and (max-width: $tablet) {
    header {
        .inner {
            width: 100%;
            h1 {
                left: 3vw;
            }
            .fa-search {
                display: none;
            }
            #gnb {
                display: none;
            }
            .fa-bars {
                font-size: 20px;
                color: white;
                position: absolute;
                bottom: 20px;
                right: 3vw;
                display: block;
            }
        }
    }
}

