#intro {
    width: 100%;
    background: #000;
    padding-bottom: 100px ;
    .inner {
        text-align: center;
        .mySwiper {
            .swiper-pagination {
                span {
                    background-color: #c2b096;
                }
                .swiper-pagination-bullet-active {
                    width: 20px;
                    height: 20px;
                    transform: translateY(5px);
                }
            }
            img {
                width: 650px;
            }
        }
    }
}

@media screen and (max-width: $tablet) {
    #intro {
        .inner {
            .mySwiper {
                img {
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (max-width: $mobile) {
}