#news {
    width: 100%;
    padding: 150px 0;
    background: #000;

    .inner {
        width: 1180px;
        margin: 0 auto;
        min-height: 500px;
        h1 {
            font: bold 25px/1 'Lora';
            color: #fff;
            text-align: center;
            margin-bottom: 40px;
        }
        ul {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-content: flex-start;
            li {
                width: 48%;
                margin-bottom: 20px;
                padding: 20px;
                background: #fff;
                cursor: pointer;
                &::after {
                    top: 0;
                    left: 0;
                    display: block;
                    border: 1px solid red;
                    content: '';
                    transform: scaleX(0);
                    transition: transform 5000ms ease-in-out;
                    transform-origin: 0% 50%;
                }
                &:hover::after {
                    transform: scaleX(1);
                }
                h2 {
                    display: inline;
                    font: bold 13px/1 'arial';
                    color: #000;
                    transition: ease-in-out 0.9s;                
                }
                p {
                    font: 10px/1.2 'arial';
                    color: #555;
                    padding-left: 10px;
                    margin-top: 10px;
                }
                span {
                    float: right;
                    right: 0;
                    color: #777;            
                }
            }
        }
    }
}