.community {
    background: #000;
    >figure {
        .txtFirst {
            width: 430px;
        }
        .txtSecond {
            width: 280px;
        }
    }
    .inner {
        >section {
            .input {
                width: 100%;
                background: #fff;
                border: 1px solid #999;
                padding: 30px;
                .inputBox {
                    display: flex;
                    .inputTxt {
                        width: 380px;
                        h1 {
                            width: 160px;
                            font: bold 40px/1 'arial';
                            border-bottom: 5px solid #C2B096;
                            margin-bottom: 40px;
                            color: #333;
                        }
                        input {
                            width: 80%;
                            height: 30px;
                            margin: 0 0 10px 20px;
                            padding-left: 5px;
                            border: none;
                            border-bottom: 2px solid #333;
                        }
                    }
                    textarea {
                        width: 100%;
                        height: 150px;
                        padding: 10px;
                        margin-left: 20px;
                        border: 1px solid #999;
                    }
                }
                button {
                    bottom: 0;
                    width: 100px;
                    height: 30px;
                    margin: 20px 0 0 500px;
                    border: none;
                    background: #eee;
                    &:nth-of-type(2n) {
                        margin-left: 20px;
                    }
                    &:hover {
                        font-weight: bold;
                        cursor: pointer;
                    }
                }
            }
            .showList {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                article {
                    width: 380px;
                    height: 330px;
                    padding: 30px;
                    background: #fff;
                    margin: 50px 20px 0 0;
                    &:nth-of-type(3n) {
                        margin-right: 0;
                    }
                    .post {
                        >input {
                            margin-bottom: 10px;
                            border: none;
                            border-bottom: 2px solid rgb(124, 124, 124);
                        }
                        >textarea {
                            margin-bottom: 30px;
                            border: none;
                            border-bottom: 2px solid rgb(124, 124, 124);
                        }
                        >span {
                            font: 10px/1 'arial';
                            color: #777;
                        }
                        >h2 {
                            font: bold 18px/1 'arial';
                            color: #555;
                            margin-top: 10px;
                            &::after {
                                width: 30px;
                                height: 3px;
                                display: block;
                                content: '';
                                background: #C2B096;
                            }
                        }
                        >p {
                            height: 150px;
                            margin: 20px 10px;
                            padding: 10px;
                            font: 12px/1.3 'arial';
                            color: #555;
                            border: 1px solid #8c8c8c;
                        }
                    }
                    .btns {
                        text-align: center;
                        button {
                            width: 100px;
                            height: 30px;
                            border: none;
                            border: 1px solid #8c8c8c;
                            color: #666;
                            margin: 0px 20px 30px;
                            &:hover {
                                font-weight: bold;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
    }
}