.gallery {
  background: #000;
    >#sub_main {
        .txtFirst {
            width: 310px;
        }
        .txtSecond {
            width: 210px;
        }
    }
    .innerWrap {
      transform: translateY(200px); opacity: 0; transition: 1s;
        >.inner {
            transition: none; width: 1180px; margin: 0px auto; min-height:  500px; padding-top: 50px;
            .loading {
              width: 100px;
              position: sticky;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              transition: 1s;
              &.off {
                  opacity: 0;
              }
          }
            .gallery_About {
              h1 {
                  font: bold 40px/1 'arial';
                  color: #fff;
              }
              p {
                  font: 13px/1.2 'arial';
                  color: #999;
                  margin: 30px 0;
                  padding: 0 100px;
              }
              .aboutTxt {
                  display: flex;
                  justify-content: space-between;
                  margin: 50px 0;
                  h3 {
                      width: 700px;
                      font: 35px/1 'Zen Antique Soft';
                      color: rgb(203, 203, 203);
                      margin: 20px 0 0 150px;
                      span {
                          font: 80px/1 'Zen Antique Soft';
                          color: rgb(137, 137, 137);
                      }
                      .omgSpan {
                          margin-left: 420px;
                      }
                  }
                  img {
                      width: 400px;
                      margin: 0px 0 50px 100px;
                  }
              }
            }
            .searchBox {
              width: 100%;
              margin-bottom: 30px;
              input {
                width: 600px;
                height: 40px;
                padding-left: 10px;
                font: 13px/1 'arial';
                border: none;
              }
              >button {
                position: relative;
                left: -75px;
                width: 150px;
                height: 30px;
                background: #C2B096;
                opacity: .9;
                color: #fff;
                font: bold 15px/30px 'arial';
                cursor: pointer;
              }
              >span {
                color: #fff;
              }
            }
            >section {
              transform: translateY(200px); opacity: 0;
              transition: 1s;
              padding-bottom: 50px;
              &.on {
                transform: translateY(0px); opacity: 1;
              }
        
              &::after {
                content: ''; display: block; clear: both;
              }
              article {
                width: 20%; float: left;
                >.inner {
                  width: 100%; height: 100%; 
                  .pic {
                    width: 100%;
                    cursor: pointer;
                    filter: grayscale(1);
                    transition: 1s;
                    padding: 3px 5px;
                    img {
                      width: 100%; 
                    }
                    &:hover {
                      filter: grayscale(0);
                    }
                  }
        
                  h2 {
                    font: normal 14px/1.2 'arial'; color: #777; margin-bottom: 20px;
                  }
                }
              }
            }
          } 
        } 
        
        &.on {
          .innerWrap {
            transform: translateY(0px); opacity: 1;
          }
        }
      }
      
      .popup {
        width: 100%; height: 100%; background: rgba(0,0,0,.9); position: fixed; top: 0px; left: 0px; padding: 5vw; z-index: 6;
      
        img {
          width: 100%; height: 100%; object-fit: contain;
        }
      
        span {
          font: bold 14px/1 'arial'; color: #fff; position: absolute; top: 4vh; right: 5vw; cursor: pointer;
        }
      }
      
      @media screen and (max-width: $tablet){
        .content {
          >figure {
            height: 200px;
          }
      
          .innerWrap {
            >.inner {
              width: 100%; padding: 0px 3vw; padding-top: 80px
            }
          }
          
        }
      }
      
      @media screen and (max-width: 1179px){
        .gallery {
          .item {width: 25%!important;}
        }
      }
      
      @media screen and (max-width: 899px){
        .gallery {
          .item {width: 33.333%!important;}
        }
      }
      @media screen and (max-width: 739px){
        .gallery {
          .item {width: 50%!important;}
        }
      }
      @media screen and (max-width: 479px){
        .gallery {
          .item {width: 100%!important;}
        }
      }